{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Model History</h1>

    <div class="model-section my-4 p-3 border rounded">
        <h2 class="text-center">VAE</h2>
        <div class="row">
            <div class="col-md-4 text-center">
                <h3>Caries</h3>
                <img src="{{ url_for('static', filename='images/vae_caries.png') }}" class="img-fluid" alt="VAE Caries History">
            </div>
            <div class="col-md-4 text-center">
                <h3>Gingivitis</h3>
                <img src="{{ url_for('static', filename='images/vae_gingivitis.png') }}" class="img-fluid" alt="VAE Gingivitis History">
            </div>
            <div class="col-md-4 text-center">
                <h3>White Spot Lesion</h3>
                <img src="{{ url_for('static', filename='images/vae_wsl.png') }}" class="img-fluid" alt="VAE White Spot Lesion History">
            </div>
        </div>
    </div>

    <div class="model-section my-4 p-3 border rounded">
        <h2 class="text-center">GAN</h2>
        <div class="row">
            <div class="col-md-4 text-center">
                <h3>Caries</h3>
                <img src="{{ url_for('static', filename='images/GAN_caries.png') }}" class="img-fluid" alt="GAN Caries History">
            </div>
            <div class="col-md-4 text-center">
                <h3>Gingivitis</h3>
                <img src="{{ url_for('static', filename='images/GAN_gingivitis.png') }}" class="img-fluid" alt="GAN Gingivitis History">
            </div>
            <div class="col-md-4 text-center">
                <h3>White Spot Lesion</h3>
                <img src="{{ url_for('static', filename='images/GAN_wsl.png') }}" class="img-fluid" alt="GAN White Spot Lesion History">
            </div>
        </div>
    </div>

    <div class="model-section my-4 p-3 border rounded">
        <h2 class="text-center">EDGAN</h2>
        <div class="row">
            <div class="col-md-4 text-center">
                <h3>Caries</h3>
                <img src="{{ url_for('static', filename='images/EDGAN_caries.png') }}" class="img-fluid" alt="EDGAN Caries History">
            </div>
            <div class="col-md-4 text-center">
                <h3>Gingivitis</h3>
                <img src="{{ url_for('static', filename='images/EDGAN_gingivitis.png') }}" class="img-fluid" alt="EDGAN Gingivitis History">
            </div>
            <div class="col-md-4 text-center">
                <h3>White Spot Lesion</h3>
                <img src="{{ url_for('static', filename='images/EDGAN_wsl.png') }}" class="img-fluid" alt="EDGAN White Spot Lesion History">
            </div>
        </div>
    </div>

    <div class="model-section my-4 p-3 border rounded">
        <h2>ResNet</h2>
        <div class="row">
            <div class="col-md-6 text-center">
                <h3>History</h3>
                <img src="{{ url_for('static', filename='images/resnet_history.png') }}" class="img-fluid" alt="ResNet History">
            </div>
            <div class="col-md-6 text-center">
                <h3>Confusion Matrix</h3>
                <img src="{{ url_for('static', filename='images/resnet_confusion_matrix.png') }}" class="img-fluid" alt="ResNet Confusion Matrix">
            </div>
        </div>
    </div>

</div>
{% endblock %}
