{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="text-center my-4">Welcome to AI-Powered Dental Diagnostics</h1>
    <p class="lead text-center">
        Explore the revolutionary technology of Generative Adversarial Networks (GANs) combined with Autoencoders in the realm of dental intraoral imaging. Our cutting-edge AI models are designed to assist dental professionals in accurately classifying dental caries, gingivitis, and white spot lesions, bringing a new era of precision and efficiency to dental diagnostics.
    </p>
<!--    <div class="text-center my-5">-->
<!--        <img src="{{ url_for('static', filename='images/dental_gan_overview.jpg') }}" class="img-fluid rounded my-3" alt="Overview of GANs in Dental Diagnostics">-->
<!--        <img src="{{ url_for('static', filename='images/caries_example.jpg') }}" class="img-fluid rounded my-3" alt="Example of Dental Caries">-->
<!--        <img src="{{ url_for('static', filename='images/gingivitis_example.jpg') }}" class="img-fluid rounded my-3" alt="Example of Gingivitis">-->
<!--        <img src="{{ url_for('static', filename='images/wsl_example.jpg') }}" class="img-fluid rounded my-3" alt="Example of White Spot Lesion">-->
<!--    </div>-->
    <p class="text-center">
        Our platform leverages the power of GANs to generate synthetic images for training and validation, enhancing the robustness of our models. With the integration of Autoencoders, we ensure the preservation of essential features, improving the accuracy of disease classification. Dive into our sections on ResNet50 and ResNet101 to see these models in action, or explore the history and architecture behind our innovative approach.
    </p>
</div>
{% endblock %}
